<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Avatar</th>
      <th>Zip code</th>
      <th>State</th>
      <th>City</th>
      <th>Town</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Birtyday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nickname %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.avatar %></td>
        <td><%= user.zip_code %></td>
        <td><%= user.state %></td>
        <td><%= user.city %></td>
        <td><%= user.town %></td>
        <td><%= user.latitude %></td>
        <td><%= user.longitude %></td>
        <td><%= user.birtyday %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
